table{
    background-color: white;
    border: 2px solid #1b1b32;
    

}

td{
    border: 2px solid #1b1b32;
    padding: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10vh;
    height: 10vh;
}

td:hover{
    background-color: azure;
}

@media (max-width:485px){
    td{
        padding: 25px;
    }
}


table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: '1.4em';
    font-weight: bold;
 font-size: 30px;
 border-color: white;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.resetBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 28%;
}

.tableFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: '1.4em';
    font-weight: bold;
 font-size: 50px;
}

.winnerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: '1.4em';
    font-weight: bold;
 font-size: 30px;
}